.formWrapper {
  border: 1px solid var(--color-lightgrey);
  border-radius: 10px;
  padding: 32px;
  min-height: 488px;
}
.formTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.formSup {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-gray);
  margin-bottom: 24px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.input,
.textarea {
  border: none;
  outline: none;
  display: block;
  width: 100%;
  border-radius: 12px;
  padding: 12px 20px;
  height: 48px;
  background-color: var(--color-crema);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-gray);
}
.textarea {
  resize: none;
  margin-bottom: 24px;
}
.sendBtn {
  display: block;
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 12px;
  height: 44px;
  background-color: var(--color-lightblue);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-white);
  transition: background-color 250ms ease-in-out;
}
.sendBtn:hover,
.sendBtn:focus,
.sendBtn:active {
  background-color: var(--color-blue);
}
.error {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  color: var(--color-gray);
  text-align: center;
}